# See https://projectlombok.org/features/configuration
config.stopBubbling = true
#see https://github.com/rzwitserloot/lombok/commit/e95680a76733c22ee5937a586ee50c703d5ba621
#lombok.addNullAnnotations = javax, eclipse, jetbrains, netbeans, androidx, android.support, checkerframework (recommended), findbugs, spring, jml
#, or define your own via <code>CUSTOM:fully.qualified.NonNullAnnotation:fully.qualified.NullableAnnotation</code>.
lombok.addNullAnnotations = checkerframework
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.noArgsConstructor.extraPrivate=true
